* {
  font-family: "Slabo 13px", serif, Utopia, "Liberation Serif",
  "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
font-size: 1.3vw;
color: #000102;
}

p{
  background-color: pink;
}

h1,h2,h3,h4{
  background-color: lime;
  font-weight: bold;
}

h1{
  font-size: 1.2 em;
}
h2{
  font-size: 1.15 em;
}
h3{
  font-size: 1.1 em;
}
h4{
  font-size: 1.05 em;
}

header, nav, iframe{
  width: 80%;
  left: 10%;
  position: absolute;
}

header{
  top: 5%; 
}

#header_line{
  left: 25%;
}

nav{
  top: 22%;
  width: 10%;

}

nav li{
  display: block;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #022936;
}

nav li a {
  display: block;
  color: #F6FBFC;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
nav li a:hover {
  background-color: #6B919E;
}

iframe{
  top: 22%;
  height: 100%;
  width: 70%;
  left: 20%;
  object-fit: contain;
  background-color: red;
  /* overflow: auto; */
}

/* nav{
  position: absolute;
}

iframe{

} */


/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.open_content {
  padding: 0 18px;
  display: contents;
  overflow: visible;
  background-color: #f1f1f1;
}

/* @media only screen and (min-width: 720px) {
  body {
    background-color: lightblue;
  }
}

@media only screen and (min-width: 320px) {
  body {
    background-color: lightblue;
  } 
}
*/

